# Virtual Environments
myenv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# DS_Store files
.DS_Store

# Shell script guides
guide.md

# Cover Letter Generator
constants/
CLs/

# Job Scraper
job_scraper/

# Private Keys, etc.
config.py

.env
