nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--dark);
}
a.nav-link {
  display: inline-block;
  padding: 10px 4px 2px 4px;
  font-size: 2em;
}
a.nav-link:focus {
  outline: none;
  transition: all 0.1s;
  scale: 0.5;
}
/* height=3em=36 -> 18px(emoji) + 2×6px(padding)*/
