/* Works on Chrome, Edge, and Safari */
/* Width */
*::-webkit-scrollbar {
  width: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--dark);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  /* background-color: var(--orange); */
  background: linear-gradient(to bottom, var(--green-semi-trans) 0%, var(--purple-semi-trans) 100%);
  border-radius: 0px;
  border: 0px solid var(--dark);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, var(--green-accent) 0%, var(--purple-accent) 100%);
}
