{% extends 'base.html' %} {% block content %} {% include("_result.html") %}
<form action="" method="post">
  {{ form.hidden_tag() }}

  <!-- ROLE DETAILS -->
  <!-- {{ form.company.label(class_="forText") }}  -->
  {{form.company }}
  <!-- {{ form.role.label(class_="forText") }}  -->
  {{form.role }}

  <!-- LANGUAGES -->
  <fieldset class="group">
    <legend>LANGUAGES</legend>
    <ul class="checkbox">
      <li>{{ form.javascript }} {{ form.javascript.label }}</li>
      <li>{{ form.java }} {{ form.java.label }}</li>
      <li>{{ form.sql }} {{ form.sql.label }}</li>
      <li>{{ form.typescript }} {{ form.typescript.label }}</li>
      <li>{{ form.python }} {{ form.python.label }}</li>
      <li>{{ form.html }} {{ form.html.label }}</li>
      <li>{{ form.css }} {{ form.css.label }}</li>
      <li>{{ form.php }} {{ form.php.label }}</li>
      <!-- <li>{{ form.cpp }} {{ form.cpp.label }}</li> -->
      <li class="custom">{{ form.custom_lang_0 }}</li>
    </ul>
  </fieldset>

  <fieldset class="group">
    <legend>FRONTEND</legend>
    <ul class="checkbox">
      <li>{{ form.react }} {{ form.react.label }}</li>
      <li>{{ form.angular }} {{ form.angular.label }}</li>
      <li>{{ form.vue }} {{ form.vue.label }}</li>
      <li>{{form.vite}} {{form.vite.label}}</li>
      <li>{{ form.tailwind }} {{ form.tailwind.label }}</li>
    </ul>
  </fieldset>

  <fieldset class="group">
    <legend>BACKEND</legend>
    <ul class="checkbox">
      <li>{{ form.spring_boot }} {{ form.spring_boot.label }}</li>
      <li>{{ form.nodejs }} {{ form.nodejs.label }}</li>
      <li>{{ form.spring }} {{ form.spring.label }}</li>
      <li>{{ form.express }} {{ form.express.label }}</li>
      <li>{{ form.rest }} {{ form.rest.label }}</li>
      <li>{{ form.flask }} {{ form.flask.label }}</li>
      <!-- <li>{{ form.django }} {{ form.django.label }}</li>
      <li>{{ form.graphql }} {{ form.graphql.label }}</li> -->
    </ul>
  </fieldset>

  <fieldset class="group">
    <legend>DATA</legend>
    <ul class="checkbox">
      <li>{{ form.mongo }} {{ form.mongo.label }}</li>
      <li>{{ form.postgres }} {{ form.postgres.label }}</li>
      <li>{{ form.mysql }} {{ form.mysql.label }}</li>
      <li>{{ form.oracle }} {{ form.oracle.label }}</li>
      <li>{{ form.snowflake }} {{ form.snowflake.label }}</li>
    </ul>
  </fieldset>

  <fieldset class="group">
    <legend>DEPLOYMENT</legend>
    <ul class="checkbox">
      <li>{{ form.aws }} {{ form.aws.label }}</li>
      <li>{{ form.azure }} {{ form.azure.label }}</li>
      <li>{{ form.gcp }} {{ form.gcp.label }}</li>
      <li>{{ form.kubernetes }} {{ form.kubernetes.label }}</li>
      <li>{{ form.docker }} {{ form.docker.label }}</li>
    </ul>
  </fieldset>

  <fieldset class="group">
    <legend>MANAGEMENT</legend>
    <ul class="checkbox">
      <li>{{ form.git }} {{ form.git.label }}</li>
      <li>{{ form.git_actions }} {{ form.git_actions.label }}</li>
      <li>{{ form.linux }} {{ form.linux.label }}</li>
      <li>{{ form.maven }} {{ form.maven.label }}</li>
      <li>{{ form.gradle }} {{ form.gradle.label }}</li>
      <!-- <li>{{ form.jenkins }} {{ form.jenkins.label }}</li> -->
    </ul>
  </fieldset>

  <fieldset class="group">
    <legend>TESTING</legend>
    <ul class="checkbox">
      <li>{{ form.junit }} {{ form.junit.label }}</li>
      <li>{{ form.jest }} {{ form.jest.label }}</li>
      <!-- <li>{{ form.pytest }} {{ form.pytest.label }}</li> -->
    </ul>
  </fieldset>

  <fieldset class="group">
    <ul style="padding-bottom: 0px; display: flex; flex-wrap: wrap; justify-content: space-around">
      <li class="text">{{ form.custom_tech_0 }}</li>
      <li class="text">{{ form.custom_tech_1 }}</li>
      <li class="text">{{ form.custom_tech_2 }}</li>
    </ul>
  </fieldset>

  <!-- ATTRIBUTES -->
  <!-- {{ form.attribute.label(class_="forSelect") }}-->
  {{ form.attribute }}

  <!-- SUBMIT -->
  <div style="margin-top: 0.25em">
    {{ form.submit }}
    <div class="custom">{{ form.keep_docx}}{{ form.keep_docx.label }}</div>
  </div>
  <!-- ETC -->
  <div style="margin-top: 1.5em; font-style: italic; font-size: 0.8em">
    <!-- {{ form.organization.label(class_="forText") }}  -->
    {{ form.organization }}
    <!-- {{ form.hiring_manager.label(class_="forText") }}  -->
    {{ form.hiring_manager }}
    <!-- {{ form.company_different.label(class_="forText") }}  -->
    {{ form.company_different }}
  </div>
</form>
{% endblock content %}
